/*basic styles */
html {
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img, video {
    width: 100%;
    height: auto;
    display: block;
}


.bg-video {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw;       
    height: 100vh;       
    object-fit: cover;     
    z-index: -1;          
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.hero-image-box::after {
    content: "";
    background-color: #00C437;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.hero-image, 
.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-video {
    background-color: #000;
    background-image: url(video/Fantasy.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}